################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/20240122/szl/szl.vcxproj
/20240122/szl/szl.vcxproj.filters
/20240122/szl/szl.vcxproj.user
/CppProperties.json
/20240212/SzL/X-massTree/.vs/X-massTree
/20240212/SzL/X-massTree/Debug
/20240212/SzL/X-massTree/x64/Debug
/20240212/SzL/X-massTree/X-massTree.sln
/20240212/SzL/X-massTree/X-massTree.vcxproj
/20240212/SzL/X-massTree/X-massTree.vcxproj.filters
/20240212/SzL/X-massTree/X-massTree.vcxproj.user
/20240122/szl/.vs/szl
/20240122/szl/Debug
/20240122/szl/x64
/20240122/szl/szl.sln
