################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/20240122/szl/szl.vcxproj
/20240122/szl/szl.vcxproj.filters
/20240122/szl/szl.vcxproj.user
/CppProperties.json
