################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/20240115/szl/szl.sln
/20240115/szl/szl.vcxproj
/20240115/szl/szl.vcxproj.filters
/20240115/szl/szl.vcxproj.user
/20240115/szl/.vs/szl
/20240115/szl/x64/Debug/szl.tlog
/20240115/szl/x64/Debug/szl.exe
/20240115/szl/x64/Debug/szl.exe.recipe
/20240115/szl/x64/Debug/szl.ilk
/20240115/szl/x64/Debug/szl.log
/20240115/szl/x64/Debug/szl.obj
/20240115/szl/x64/Debug/szl.pdb
/20240115/szl/x64/Debug/szl.vcxproj.FileListAbsolute.txt
/20240115/szl/x64/Debug/vc143.idb
/20240115/szl/x64/Debug/vc143.pdb
/.vs
/20240115/szl/x64/Release/szl.exe
/20240115/szl/x64/Release/szl.exe.recipe
/20240115/szl/x64/Release/szl.iobj
/20240115/szl/x64/Release/szl.ipdb
/20240115/szl/x64/Release/szl.log
/20240115/szl/x64/Release/szl.obj
/20240115/szl/x64/Release/szl.pdb
/20240115/szl/x64/Release/szl.vcxproj.FileListAbsolute.txt
/20240115/szl/x64/Release/vc143.pdb
/20240115/szl/x64/Release/szl.tlog
